.about {
  &__image {
    img {
      margin: 0 auto;
    }
    figcaption {
      font-size: 14px;
      margin-top: 5px;
      text-align: center;
    }
    @include media-breakpoint-up(sm) {
      float: right;
      margin-top: 75px;
      padding-bottom: 15px;
      padding-left: 30px;
      width: 40%;
    }
  }
  &__linkedin {
    align-items: center;
    border: 2px dashed #ff4e4e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    padding: 15px;
    &:hover {
      text-decoration: none;
    }
    .fa {
      font-size: 32px;
      margin-right: 15px;
    }
  }
}

.numbers {
  background-color: #eeeeee;
  margin-top: 50px;
  padding: 25px 0;
  &__item {
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
    &::before {
      background-color: #c8c8c8;
      bottom: 15px;
      content: "";
      position: absolute;
      right: 0;
      top: 15px;
      width: 1px;
    }
    &::after {
      background-color: #c8c8c8;
      bottom: 0;
      content: "";
      height: 1px;
      left: 15px;
      position: absolute;
      right: 15px;
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
    &:nth-last-child(-n + 2) {
      @include media-breakpoint-up(sm) {
        &::after {
          display: none;
        }
      }
    }
    &:nth-child(2n) {
      @include media-breakpoint-up(sm) {
        &::before {
          display: none;
        }
      }
      @include media-breakpoint-up(xl) {
        &::before {
          display: block;
        }
      }
    }
    &:last-child {
      &::before,
      &::after {
        display: none;
      }
    }
    p {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      span {
        display: block;
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}
