.contact {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__email,
  &__phone {
    margin: 0;
    text-align: left;
    span {
      display: block;
      font-size: 20px;
    }
    a {
      display: block;
      font-size: 14px;
      margin-top: -5px;
    }
  }

  &__form {
    &-field {
      background-color: #f5f5f5;
      border: 1px solid #e8e8e8;
      box-shadow: none;
      display: block;
      font-size: 16px;
      height: 40px;
      margin-top: 15px;
      outline: 0;
      padding: 10px;
      width: 100%;
      &:focus {
        background-color: #f0f0f0;
      }
      &_message {
        height: auto;
      }
    }
    &-notice {
      background-color: #ff4e4e;
      color: #ffffff;
      display: block;
      font-size: 14px;
      padding: 5px 10px;
      position: relative;
      &::before {
        border-bottom: 10px solid #ff4e4e;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        content: "";
        left: 50%;
        position: absolute;
        top: -20px;
        transform: translateX(-50%);
      }
    }
    &-respond {
      background-color: #4effa7;
      color: #ffffff;
      display: none;
      font-size: 16px;
      margin-top: 15px;
      padding: 10px;
      text-align: center;
    }
    &-submit {
      background-color: #ff4e4e;
      border-width: 0;
      color: white;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      margin: 25px auto;
      padding: 10px 35px;
      text-transform: uppercase;
      transition: 0.5s;
      &:hover,
      &:focus {
        background: white;
        box-shadow: inset 0px 0px 0px 4px #ff4e4e;
        color: initial;
        text-decoration: none;
      }
    }
  }
}
