.footer {
  background-attachment: fixed;
  background-image: url("../img/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #999999;
  font-size: 18px;
  padding: 30px 0 0;
  position: relative;
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
  &::before {
    background-color: rgba(#000000, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__copyrights {
    background-color: rgba(#000000, 0.5);
    margin-top: 30px;
    padding: 25px 0;
    p {
      font-size: 16px;
      margin: 0;
      text-align: center;
    }
    a {
      color: #ffffff;
      position: relative;
    }
  }
}
