.header {
  padding-top: 60px;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
  &__jumbotron {
    position: relative;
  }
  &__background {
    background-attachment: fixed;
    background-image: url("../img/background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    &::before {
      background-color: rgba(0, 0, 0, 0.6);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__text {
    color: #fff;
    font-size: 18px;
    left: 15px;
    margin: 0 auto;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    @include media-breakpoint-up(sm) {
      font-size: 22px;
      left: 0;
      max-width: 540px;
      right: 0;
    }
    @include media-breakpoint-up(md) {
      font-size: 26px;
      max-width: 720px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 30px;
      max-width: 1140px;
    }
    .fa {
      font-size: 36px;
      @include media-breakpoint-up(lg) {
        font-size: 48px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 64px;
      }
    }
    span {
      color: #ff4e4e;
      display: block;
      font-family: "Open Sans", sans-serif;
      font-size: 1.6em;
      font-weight: 800;
      margin-bottom: 30px;
      margin-top: 20px;
      text-transform: uppercase;
    }
  }
}
