.menu {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    box-shadow: none;
    flex-direction: row;
    padding: 0;
    position: relative;
  }
  &__toggle {
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    display: block;
    margin-left: auto;
    padding: 0;
    width: 30px;
    @include media-breakpoint-up(lg) {
      display: none;
    }
    span {
      background-color: #212529;
      display: block;
      height: 3px;
      margin: 5px 0;
    }
  }
  &__logo {
    a {
      display: block;
      height: 60px;
      padding: 15px 0;
      @include media-breakpoint-up(lg) {
        height: 110px;
      }
    }
    img {
      max-height: 100%;
      width: auto;
    }
  }
  &__items {
    background-color: #ff4e4e;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    left: 15px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    opacity: 0;
    padding: 15px;
    position: absolute;
    right: 15px;
    top: 60px;
    transition-duration: 0.3s;
    transition-property: opacity, top, visibility;
    transition-timing-function: ease;
    visibility: hidden;
    @include media-breakpoint-up(sm) {
      left: auto;
      width: 350px;
    }
    @include media-breakpoint-up(lg) {
      background-color: transparent;
      box-shadow: none;
      display: flex;
      margin-left: auto;
      opacity: 1;
      padding: 0;
      position: static;
      visibility: visible;
      width: auto;
    }
    .active & {
      opacity: 1;
      top: 80px;
      visibility: visible;
    }
    &::before {
      border-bottom: 12px solid #ff4e4e;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid transparent;
      content: "";
      position: absolute;
      right: 4px;
      top: -24px;
    }
    > li {
      a {
        border-bottom: 1px solid #df4040;
        color: #fff;
        display: block;
        padding: 10px 15px;
        text-indent: 0;
        transition-duration: 0.3s;
        transition-property: text-indent;
        transition-timing-function: ease;
        &:hover {
          text-decoration: none;
          text-indent: 15px;
          @include media-breakpoint-up(lg) {
            color: #ff4e4e;
            text-indent: 0;
          }
        }
        @include media-breakpoint-up(lg) {
          border-bottom-width: 0;
          color: inherit;
          text-transform: uppercase;
        }
      }
      &:last-child {
        a {
          border-bottom-width: 0;
        }
      }
    }
  }
}
