.page-loader {
  align-items: center;
  background-color: #eeeeee;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  & > div {
    background-image: url("../img/preloader.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
  }
}
