.services {
  &__item {
  }
  &__icon {
    align-items: center;
    background-color: #eee;
    border-radius: 50%;
    color: #ff4e4e;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 auto 15px auto;
    width: 80px;
  }
}
