@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.animated {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

main {
  > section {
    padding: 25px 0;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.section-title {
  display: inline-block;
  margin-bottom: 25px;
  position: relative;
  &::after {
    background-color: #ff4e4e;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
