// Fonts

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "PT Sans Narrow",
  sans-serif !default;
$font-size-base: 1.125rem !default;

// Links - style anchor elements

$link-color: #ff4e4e !default;
$link-hover-color: #ff4e4e !default;
